<div>
  <div class="header">
    <br>
    <div class="header__inputs">
      <div class="text_box__wrapper">
        <div autofocus=true class="text_box__icon"><img src="/assets/icons/Search.svg"/></div>
        <input autofocus=true class="text_box__input" type="text" placeholder="Search" [ngModel]="searchQuery" #search [disabled]="!dataReceived">
      </div>
      <div class="select_box__wrapper"> 
        <label class="select_box__label" for="sort">Sort By</label>
        <select class="select_box__select" id="sort" [ngModel]="sortBy" #sort [disabled]="!dataReceived">
          <option class="select_box__select__options" *ngFor="let option of sortOptions" [value]="option.value">{{option.label}}</option>
        </select>  
      </div>     
    </div>
  </div>
  <div *ngIf="dataReceived">
    <div class="pages">
      <div class="pages__buttons">
        <button *ngFor="let pageNumber of pages" [ngClass]="{'pages__buttons__selected': pageNumber+1 == paginationConfig.pageNumber }" (click)="changePage(pageNumber+1)">{{pageNumber + 1}}</button>
      </div>
    </div>
    <div class="grid" *ngIf="currentView.length>0">
      <app-item-card *ngFor="let item of currentView" [name]="item.name" [thumbnail]="item.image" [description]="item.description"></app-item-card>
    </div>
    <br>
    <br>
    <div class="pages">
      <div class="pages__buttons">
        <button *ngFor="let pageNumber of pages" [ngClass]="{'pages__buttons__selected': pageNumber+1 == paginationConfig.pageNumber }" (click)="changePage(pageNumber+1)">{{pageNumber + 1}}</button>
      </div>
    </div>
    <br>
    <div class="table">
      <table *ngIf="this.currentView.length > 0">
        <thead>
          <th scope="column"></th>
          <th scope="column">Name</th>
          <th scope="column">Description</th>
          <th scope="column">Date Last Edited</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of currentView">
            <td><img [src]="item.image"></td> 
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.dateLastEdited | date}}</td>
          </tr>
        </tbody>
      </table>
    </div>  
    <br>
  </div>
</div>
<div class="loading" *ngIf="!dataReceived"><div class="loading__spinner"></div></div>
