:root {
  --primary_color: #5E56E7;
  --secondary_color: #F8F7FF;
  --accent_color_light: #F0F0F6;
  --accent_color_medium: #A0A0A0;
  --accent_color_dark: #333333;
}

@font-face{
  font-family: 'Montserat-Regular';
  src: url(/assets/fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face{
  font-family: 'Montserat-SemiBold';
  src: url(/assets/fonts/Montserrat-SemiBold.ttf) format('truetype');
}

body{
  padding: 10px;
}
